*.build linguist-detectable
*.gradle linguist-detectable
*.xml linguist-detectable
*.md linguist-detectable
*.properties linguist-detectable
*.bat linguist-detectable
libs/** linguist-vendored
docs/** linguist-vendored
.idea/** linguist-vendored
FtcRobotController/** linguist-vendored
